@import "tailwindcss";

@theme {
    /*Font Nunito is used for heading*/
    --font-nunito: "Nunito", sans-serif;

    /*Font Roboto-mono is used for sub heading, body, labels etc...*/
    --font-roboto-mono: "Roboto Mono", monospace;

    /*Colors*/
    --color-dark-500: oklch(0.0987 0.0499 277.92);
    --color-dark-300: oklch(0.1886 0.0499 277.92);

    --color-chalk: oklch(0.9992 0.0039 106.47);
    --color-white-grey: oklch(0.8968 0.0011 197.14);
    --color-jet: oklch(0.285 0 0);
    --color-oxford-blue: oklch(0.2824 0.0272 257.53);

    --color-primary-500: oklch(0.5488 0.1481 249.68);
    --color-primary-300: oklch(0.7089 0.1481 249.68);

    --color-secondary-500: oklch(0.323 0.1763 290.41);
    --color-secondary-300: oklch(0.4959 0.1763 290.41);
}
@font-face {
    font-family: "Nunito";
    src: url("./assets/fonts/nunito/Nunito-VariableFont_wght.ttf")
        format("truetype");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Nunito";
    src: url("./assets/fonts/nunito/Nunito-Italic-VariableFont_wght.ttf")
        format("truetype");
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("./assets/fonts/roboto-mono/RobotoMono-VariableFont_wght.ttf")
        format("truetype");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("./assets/fonts/roboto-mono/RobotoMono-Italic-VariableFont_wght.ttf")
        format("truetype");
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
}

#hero {
    background-image: url("./assets/images/hero_gradient.jpg");
    background-position: center;
    background-size: cover;
}
