@import 'tailwindcss';

/* Tailwind v4: define font tokens via @theme */
@theme {
  --font-nunito: "Nunito", sans-serif;
  --font-roboto-mono: "Roboto Mono", monospace;
}



@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/nunito/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/nunito/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}


@font-face {
  font-family: 'Roboto Mono';
  src: url('./assets/fonts/roboto-mono/RobotoMono-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('./assets/fonts/roboto-mono/RobotoMono-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}


#hero {
  background-image: url('./assets/images/hero_gradient.jpg');
  background-position: center;
  background-size: cover;
}